<div class="flex flex-col-reverse lg:flex-row bg-white lg:max-h-screen lg:mb-24 lg:mt-16 lg:mr-36">


  <!--- columna izq --->
  <div class="w-100 lg:w-1/2 p-6 flex flex-col lg:items-end justify-center lg:mt-6 lg:mr-28">
    <div class="mb-12">
      <h2 class="text-2xl font-semibold mb-5 text-center lg:text-left">Taller mecánico</h2>
      <div class="text-xl font-semibold p-4 mb-3 text-center bg-gray-200">Gestiona de manera eficiente <br> órdenes de
        trabajo.</div>
      <div class="text-xl font-semibold p-4 mb-2 text-center bg-gray-200">Asigna tareas a tus <br> trabajadores de forma
        efectiva.</div>
    </div>
    <div class="mb-6">
      <h2 class="text-2xl font-semibold mb-5 text-center lg:text-left">Cliente</h2>
      <div class="text-xl font-semibold p-4 mb-3 text-center bg-gray-200">Monitorea el proceso de los <br> servicios de
        tu vehículo.</div>
      <div class="text-xl font-semibold p-4 mb-2 text-center bg-gray-200">Comunícate y resuelve <br> todos tus problemas
        al instante.</div>
    </div>
  </div>

  <!--- columna der --->
  <div class="lg:w-1/2 p-6 flex flex-col items-start justify-center">
    <img src="./assets/img/LogoG_trans.png" alt="Imagen" class="h-50 lg:h-auto mb-3 mx-auto lg:mb-4 lg:ml-5">
    <img src="./assets/img/LogoLB.png" alt="Logo" class=" h-10 lg:h-14 mb-2 lg:mb-5 lg:ml-12 mx-auto">

    <p class="text-xl text-gray-700 font-bold text-center mx-auto lg:ml-28">Convirtiendo talleres mecánicos <br> en
      espacios inteligentes</p>

  </div>

</div>
