<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--- Lista de mecanicos --->
<div class="flex flex-col justify-center items-center mt-14 mb-1">

  <!-- Opcion de registro lg-->
  <div class="mt-0 lg:mt-24 w-4/5 bg-gray-200 p-4">
    <div class="flex items-center justify-between mr-5 ml-5 lg:mr-24 lg:ml-24">
      <h2 class="lg:text-2xl text-lg mt-3 mb-3">Mecánicos a asignar trabajo:</h2>
      <button type="button" class="lg:text-xl text-lg text-black rounded-xl px-5 lg:px-10 py-3 font-semibold inline-block" (click)="openModal()" style="background: #F7941F">Registrar</button>
    </div>
  </div>

  <!-- TABLA lg-->
  <div class="lg:block hidden mt-8  w-4/5 bg-white border-2 border-gray-400 text-center" style="height: 32pc">
    <table class="w-full">
      <thead>
      <tr>
        <th class="font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">NOMBRE</th>
        <th class="font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">TELEFONÓ</th>
        <th class="font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">CORREO</th>
        <th class="font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">SERVICIOS</th>
        <th class="font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">ACCION</th>
      </tr>
      </thead>
      <tbody class="w-full">

      <tr *ngFor="let mechanic of mechanics  | paginate: { itemsPerPage: 6, currentPage: p }">
        <td class="font-semibold border-gray-400 py-4" style="width: 20%;">{{ mechanic.name }}</td>
        <td class="font-semibold border-gray-400 py-4" style="width: 20%;">{{ mechanic.phone }}</td>
        <td class="border-gray-400 py-4" style="width: 20%;">{{ mechanic.email }}</td>
        <td class="border-gray-400 py-4" style="width: 20%;">
          <button class="text-white px-2 py-1 rounded-lg" style="background: #F7941F" (click)="toggleServicios2(mechanic)">mostrar</button>
          <!-- Aquí se muestra la lista de servicios del mecánico actual -->

          @if(showServices && selectedMechanic === mechanic){
            <div class="fixed flex top-0 right-0 w-full h-full bg-gray-900 bg-opacity-80 justify-center items-center">

            <div class="rounded-xs p-10 w-96" style="background: #B5B7B6">
              <h3 class="text-2xl mb-8 font-semibold text-center text-black">Lista de servicios del mecánico seleccionado</h3>
              <ul>
                <li *ngFor="let servicio of mechanic.operations">- {{ servicio.name }}</li>
              </ul>
              <!-- Botón de aceptar -->
              <div class="flex items-center justify-center mt-6 mr-24 ml-24">
                <button type="button" class="text-xl text-black rounded-xl px-10 py-3 font-semibold inline-block mt-4" style="background: #F7941F"  (click)="toggleServicios()">Aceptar</button>
              </div>
            </div>
            </div>
          }


        </td>

        <td class="border-gray-400 py-4" style="width: 20%;">
          <button class="text-white px-2 py-1 rounded-lg" style="background: #F7941F">☰</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- TABLA xs-->
  <div class="lg:hidden mt-10 w-4/5 bg-white border-2 border-gray-400 text-center" style="height: 28.5pc">
    <table class="w-full">
      <thead>
      <tr>
        <th class="text-xs font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">NOMBRE</th>
        <th class="text-xs font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">CORREO</th>
        <th class="text-xs font-semibold border-b-2 border-gray-400 py-4" style="width: 20%;">ACCION</th>
      </tr>
      </thead>
      <tbody class="w-full">
      <tr *ngFor="let mechanic of mechanics  | paginate: { itemsPerPage: 6, currentPage: p }">
        <td class="text-xs font-semibold border-gray-400 py-4" style="width: 20%;">{{ mechanic.name }}</td>
        <td class="text-xs border-gray-400 py-4" style="width: 20%;">{{ mechanic.email }}</td>
        <td class="text-xs border-gray-400 py-4" style="width: 20%;">
          <button class="text-white px-2 py-1 rounded-lg" style="background: #F7941F">☰</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- paginacion lg-->
  <div class="flex justify-center -mt-14 mb-16 lg:mb-36">
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel=""
      nextLabel=""
    ></pagination-controls>
  </div>


</div>


@if (showModal){

  <div class="fixed flex top-0 right-0 w-full h-full bg-gray-900 bg-opacity-80 justify-center items-center">

    <div class="rounded-xs p-10 w-96" style="background: #B5B7B6">

      <button class="top-2 ml-72 " (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-black hover:text-gray-800 -mt-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <h3 class="text-2xl mb-4 font-semibold text-center " style="color: #d82733">Crear nuevo mecánico</h3>

      <!-- Campos de registro -->
      <div class="mb-4">
        <input type="text" placeholder="Nombre" maxlength="30" class="text-xl w-full bg-white border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:border-blue-400 flex-grow mr-4 mb-2 lg:mb-4 mt-4" name="nombre" [(ngModel)]="newMechanic.name">
        <input type="email" placeholder="Correo Electrónico" maxlength="30" class="text-xl w-full bg-white border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:border-blue-400 flex-grow mr-4 mb-2 lg:mb-4" name="correoElectronico" [(ngModel)]="newMechanic.email">
        <div class=" relative">
          <input type="{{ showPassword ? 'text': 'password'}}" placeholder="Contraseña" maxlength="30" autocomplete="password" class="text-xl w-full bg-white border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:border-blue-400" name="contrasenia" [(ngModel)]="newMechanic.password">
          <span class="absolute top-0 right-0 mr-3 mt-2 cursor-pointer" (click)="togglePassword()">
          @if (showPassword){
            <i class="fa fa-eye"></i>
          }
          @else {
            <i class="fa fa-eye-slash"></i>
          }
        </span>
        </div>
        <div class="text-xl w-full bg-white border border-gray-300 rounded-xl px-3 py-2 focus:outline-none focus:border-blue-400 flex-grow mr-4 mb-2 lg:mb-4 mt-4">
          <input type="text" placeholder="Número de contacto"
                 name="phone" [(ngModel)]="newMechanic.phone"
                 (keypress)="onKeyPress($event)"
                 maxlength="9"
                 required>
        </div>
      </div>

      <p class="text-xl mb-6 font-semibold ">Servicios del Mecánico:</p>

      <div class="bg-white p-6 rounded-lg text-black overflow-y-auto" style="height: 250px;">

        <!-- Lista de acciones de Mantenimiento -->
        <div class="mb-4">
          <h3 class="flex text-lg mb-2 font-semibold">Mantenimiento</h3>
          <div class="flex flex-col">
            @for (servicio of servicios; track $index) {
              <label class="flex items-center text-sm">
                <input type="checkbox" [value]="servicio.id" (change)="toggleServicio(servicio.id)" class="mr-2">
                {{ servicio.name }}
              </label>
            }
          </div>
        </div>
        <!-- <div class="mb-4">
          <h3 class="flex text-lg mb-2 font-semibold">Mantenimiento</h3>
          <div class="flex flex-col">
            <label *ngFor="let accion of accionesMantenimiento" class="flex items-center text-sm">
              <input type="checkbox" class="mr-2">
              {{ accion }}
            </label>
          </div>
        </div> -->

        <!-- Lista de acciones de Reparacion -->
        <!-- <div class="mb-4">
          <h3 class="flex text-lg mb-2 font-semibold">Reparación</h3>
          <div class="flex flex-col">
            <label *ngFor="let accion of accionesReparacion" class="flex items-center text-sm">
              <input type="checkbox" class="mr-2">
              {{ accion }}
            </label>
          </div>
        </div> -->
      </div>



      <!-- Botón de guardar -->
      <div class="flex items-center justify-center mr-24 ml-24">
        <button type="button" class="text-xl text-black rounded-xl px-10 py-3 font-semibold inline-block mt-6 -mb-4" style="background: #F7941F" (click)="createMechanic()">Guardar</button>
      </div>
    </div>
  </div>
}


@if (showModal2){

  <div class="fixed flex top-0 right-0 w-full h-full bg-gray-900 bg-opacity-80 justify-center items-center">

    <div class="rounded-xs p-10" style="background: #B5B7B6; width: 350px">
      <h3 class="text-2xl font-bold text-black mb-6 text-center">ASIGNANDO MECANICO AL  TALLER </h3>
      <div class="-mb-10">
        <app-loader />
      </div>


    </div>
  </div>
}

@if (showModal3){

  <div class="fixed flex top-0 right-0 w-full h-full bg-gray-900 bg-opacity-80 justify-center items-center">

    <div class="rounded-xs p-10 w-96" style="background: #B5B7B6">
      <h3 class="text-2xl mb-4 font-semibold text-center text-black">El mecanico fue registrado correctamente!</h3>

      <!-- Botón de guardar -->
      <div class="flex items-center justify-center mr-24 ml-24">
        <button type="button" class="text-xl text-black rounded-xl px-10 py-3 font-semibold inline-block mt-4" style="background: #F7941F"  (click)="closeModal3()">Aceptar</button>
      </div>
    </div>
  </div>
}






